# OpenStack Swift object storage
SWIFT_server=https://swift-uab.canadiana.ca
SWIFT_user=tdrepo
SWIFT_password=ThePassword
SWIFT_account=AUTH_crkn
SWIFT_access_metadata=access-metadata
SWIFT_access_files=access-files
SWIFT_preservation_files=preservation-cihm-aip

# Cantaloupe Image Server
IIIF_IMAGE_server=http://image-gouda.canadiana.ca/iiif/2/
IIIF_IMAGE_password=AnotherPassword

# CouchDB Databases
COUCHDB_ACCESS=http://jarlsberg.tor.c7a.ca:5984/access
COUCHDB_CANVAS=http://jarlsberg.tor.c7a.ca:5984/canvas
COUCHDB_COPRESENTATION2=http://jarlsberg.tor.c7a.ca:5984/copresentation2
COUCHDB_COSEARCH2=http://jarlsberg.tor.c7a.ca:5984/cosearch2
COUCHDB_DIPSTAGING=http://jarlsberg.tor.c7a.ca:5984/dipstaging
COUCHDB_DMDTASK=http://jarlsberg.tor.c7a.ca:5984/dmdtask
COUCHDB_EXTRAMETA=http://jarlsberg.tor.c7a.ca:5984/extrameta
COUCHDB_INTERNALMETA2=http://jarlsberg.tor.c7a.ca:5984/internalmeta2
COUCHDB_OCRTASK=http://jarlsberg.tor.c7a.ca:5984/ocr
COUCHDB_WIPMETA=http://jarlsberg.tor.c7a.ca:5984/wipmeta

# NOID server
NOID_server=http://noid.c7a.ca
